nav .nav-logo {
  display: flex;
  box-shadow: 0px 5px 15px -2px rgba(212, 212, 212, 0.75);
}

nav .nav-logo a {
  padding: 20px;
  width: 83px;
  height: 26px;
}

nav .nav-images {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
  padding: 30px;
  height: 700px;

}

nav .nav-images .col-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  height: 100%;
}

nav .nav-images .col-2 {
  display: grid;
  grid-template-rows: 2fr 3fr;
  row-gap: 20px;
  height: 100%;
}

nav .nav-images .col-3 {
  display: grid;
  grid-template-rows: 3fr 2fr;
  row-gap: 20px;
  height: 100%;
}

nav .nav-images .item {
  background-size: cover;
  background-position: left;
}

nav .nav-heading {
  padding: 0 30px;
}

nav .nav-heading h1 {
  margin: 0;
}

nav .nav-heading h1 {
  font-size: 36px;
  font-weight: 600;
}

nav .nav-heading h3 {
  font-size: 16px;
  font-weight: 300;
}

@media all and (max-device-width: 1024px) {
  nav .nav-images {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    align-items: stretch;
    padding: 30px;
    height: 400px;
  }

  nav .nav-images .col-1 {
    display: grid;
    grid-template-rows: 3fr 2fr;
    row-gap: 20px;
    height: 100%;
  }

  nav .nav-images .col-1 .item:last-child {
    display: none;
  }

  nav .nav-images .col-2 {
    display: grid;
    grid-template-rows: 2fr 3fr;
    row-gap: 20px;
    height: 100%;
  }

  nav .nav-images .col-3 {
    display: none;
  }
}

@media screen and (max-device-width: 480px) {
  nav .nav-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: stretch;
    padding: 30px;
    height: 400px;
  }

  nav .nav-images .col-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    height: 100%;
  }

  nav .nav-images .col-2 {
    display: none;
  }

  nav .nav-images .col-3 {
    display: none;
  }
}

nav .nav-images .item.img-1 {
  background-image: url("https://images.unsplash.com/photo-1654790951261-6b2e41656bda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

nav .nav-images .item.img-2 {
  background-image: url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

nav .nav-images .item.img-3 {
  background-image: url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1121&q=80");
}

nav .nav-images .item.img-4 {
  background-image: url("https://images.unsplash.com/photo-1657214059212-104dac959c56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

nav .nav-images .item.img-5 {
  background-image: url("https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
}

nav .nav-images .item.img-6 {
  background-image: url("https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=683&q=80");
}

nav .nav-images .item.img-7 {
  background-image: url("https://images.unsplash.com/photo-1568849676085-51415703900f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

nav .nav-images .item.img-8 {
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

nav .nav-images .item.img-9 {
  background-image: url("https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

nav .nav-images .item.img-10 {
  background-image: url("https://images.unsplash.com/photo-1516483638261-f4dbaf036963?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1972&q=80");
}

nav .nav-images .item.img-11 {
  background-image: url("https://images.unsplash.com/photo-1533105079780-92b9be482077?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}

nav .nav-images .item.img-12 {
  background-image: url("https://images.unsplash.com/photo-1506929562872-bb421503ef21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&q=80");
}

nav .nav-images .item.img-13 {
  background-image: url("https://images.unsplash.com/photo-1504598318550-17eba1008a68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80");
}

nav .nav-images .item.img-14 {
  background-image: url("https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}